{{ if eq .chezmoi.os "windows" }}
@echo off

REM Definir las rutas de origen y destino
set "source=%LOCALAPPDATA%\nvim"
set "destination=%USERPROFILE%\.config\nvim"

REM Crear el enlace simbólico
mklink /D "%source%" "%destination%"
if %errorlevel% equ 0 (
    echo Enlace simbólico creado exitosamente.
) else (
    echo Error al crear el enlace simbólico.
)

exit /b 0
{{ end }}
